@font-face {
  font-family: "Sanek-Regular";
  src: url(./Fonts/Sanek-Regular.otf);
}

* {
  font-family: "Sanek-Regular";
  --chestnut: #9d4931ff;
  --chestnutTransparent:rgba(157, 72, 49, 0.685);
  --brown-sugar: #b9714bff;
  --cambridge-blue: #a7c4b0ff;
  --timberwolf: #ccc8bcff;
  --xanadu: #1c3738;
  --almond: #eee2d2ff;
  --almondTransparent: rgba(238, 226, 210, 0.322);
  max-width: 100vw;
  max-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url(./images/paper.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--chestnut);
}

button:hover {
  cursor: pointer;
}

.none {
  display: none !important;
}

input:focus-visible {
  border: none;
}

.bloc1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bloc1 img {
  height: 25%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  margin-top: -10%;
}

/*container joueur*/

.bloc1__player {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-bottom: 5%;
}

.j1 {
  width: 25%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--almond);
  margin-left: 0%;
  border: 7px double var(--xanadu);
  margin-bottom: 0%;
  margin-top: 13%;
}

.j2 {
  width: 25%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: left;
  font-size: 2rem;
  color: var(--almond);
  margin-left: 2%;
  border: 7px double var(--xanadu);
  margin-bottom: 0%;
  margin-top: 13%;
}

.playerSelect {
  background-color: var(--cambridge-blue) !important;
  scale: 1.1;
  transition: scale 0.5s;
}

/*container formulaire*/

.bloc1__form {
  width: 90%;
  height: 80%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__form {
  font-size: 0.6rem;
  width: 95%;
  height: 70%;
  border: 8px double var(--xanadu);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  margin-bottom: 3%;
}

.form__form h1 {
  font-size: 3.5rem;
  margin-top: 0%;
  margin-bottom: 2%;
}

.form__form form {
  font-size: 1em;
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

#form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  font-size: 1.7rem;
  border-radius: 30px;
  border: 5px double #1c3738;
  margin-bottom: 15%;
  background-color: var(--cambridge-blue);
}

#form label {
  font-size: 2rem;
  margin-bottom: -0%;
}

#form input {
  width: 90%;
  height: 2.5rem;
  border: 5px double var(--xanadu);
  background-color: transparent;
  text-align: center;
  font-size: 1.7rem;
}

.form__startbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 10%;
  font-size: 1.7rem;
  border-radius: 50px;
  border: 5px double #1c3738;
  background-color: var(--cambridge-blue);
}

#pseudo {
  /*répetition*/
  font-size: 2em;
  height: 25%;
  width: 90%;
  margin-bottom: 10%;
  margin-top: 2%;
}

#pseudo2 {
  /*répetition*/
  font-size: 2em;
  height: 25%;
  width: 90%;
  margin-bottom: 10%;
  margin-top: 2%;
}

/*bloc numéro mise*/

/* new version */

.counter {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
}
.counter--output {
  font-size: 35px;
  text-align: center;
  padding-bottom: 3px;
  display: flex;
  width: 100px;
  height: 40px;
  border: 5px double var(--xanadu);
  background-color: var(--almondTransparent);
  border-radius: 2px;
  margin: 14px 0;
  padding: 0 18px;
  align-items: center;
  justify-content: flex-start;
  color: var(--xanadu);
}
.counter input[type=number]::-webkit-inner-spin-button, .counter input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.counter--arrow-inc, .counter--arrow-dec {
  border: 5px double var(--xanadu);
  background-color: var(--chestnutTransparent);
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
}
.counter--arrow-inc:hover, .counter--arrow-dec:hover {
  background-color: var(--chestnut);
}
.counter--arrow-inc.js-noevent, .counter--arrow-dec.js-noevent {
  pointer-events: none;
  background-color: #e6e6e6;
  border: none;
}
.counter--arrow-inc span, .counter--arrow-dec span {
  height: 90px;
  color: transparent;
  font-size: 0;
}
.counter--arrow-inc span:before, .counter--arrow-dec span:before {
  display: flex;
  height: 100%;
  font-size: 23px;
  color: white;
  transition: opacity ease 0.3s;
  justify-content: center;
  align-items: center;
  content: "\25bc";
}
.counter--arrow-inc span:before {
  transform: rotate(180deg);
}


/* old version */
.numbers {
  width: 15%;
  height: 20%;
  border: 6px double var(--xanadu);
  border-radius: 100px;
  color: black;
  font-size: 2em;
  margin-right: 6%;
  margin-left: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.numbers:hover {
  scale: 1.3;
  box-shadow: 0px 0px 15px 0px var(--chestnut);
}

.numberSelect {
  scale: 1.3;
  box-shadow: 0px 0px 15px 0px var(--chestnut);
  background-color: var(--cambridge-blue);
}

.bloc1__mise {
  margin-top: 0%;
  margin-bottom: 0%;
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbersBloc {
  margin-top: 0%;
  margin-bottom: 0%;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bloc1__mise h1 {
  color: black;
  margin-top: 0%;
  margin-bottom: 10%;
  margin-top: 5%;
  font-size: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.validateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 30%;
  height: 10%;
  margin-bottom: 5%;
  border-radius: 30px;
  background-color: var(--cambridge-blue);
  border: 5px double var(--xanadu);
}

/*container mises afficher*/

.betContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 8%;
  margin-top: 75%;
}

.betBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  border: 5px double var(--xanadu);
  border-radius: 100px;
  background-color: #d9d5d7;
  font-size: 1.7em;
}

.betContainer h2 {
  font-size: 2rem;
  margin-left: 12%;
}

#betj1 {
  margin-left: 2%;
  margin-right: 10%;
}

#betj2 {
  margin-left: 2%;
}

/* vies */

.hearts {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 6%;
  margin-top: 0%;
  font-size: 1.7rem;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
}

.heartP {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  border: 5px double var(--xanadu);
  border-radius: 50px;
}

.fa-heart {
  margin: 0%;
  color: var(--xanadu);
}

/*affichage des cartes */

.avoidClick {
  pointer-events: none;
}

/* bouton prochain round */

.nextRoundBtn {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.nextRoundBtn button {
  width: 35%;
  height: 50%;
  align-self: flex-start;
  border-radius: 50px;
  background-color: var(--cambridge-blue);
  font-size: 1.7rem;
  border: 5px double var(--xanadu);
  opacity: 0.2;
}

.btnNextRound {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out !important;
  pointer-events: all;
}

/*cartes */

.cardsContainer {
  width: 100%;
  height: 70%;
}

.card-wrapper {
  position: absolute;
  z-index: 10;
  perspective: 2000px;
  perspective-origin: top;
  width: 41%;
  height: 33%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 0%;
  cursor: pointer;
}

/* animatiom deplacement card-wrapper */
@-webkit-keyframes translate {
  100% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }
}

@keyframes translate {
  100% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }
}

/* animation rotation card */

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

.card-wrapper-anim {
  animation: translate 1s ease-in-out forwards;
}

.cardAnim {
  animation: rotate 1s ease-in-out forwards;
}

.card-wrapper-anim2 {
  animation: translate2 1s ease-in-out forwards
}

.cardAnim2 {
  animation: rotate 1s ease-in-out forwards;
}

.card {
  position: relative;
  width: 90%;
  height: 90%;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  background-image: url(./images/carteFront.png);
  background-size: cover;
}

.front p {
  margin-top: 60%;
}

.back {
  background-image: url(./images/cardBackEmpty.png);
  background-size: cover;
  transform: rotateY(180deg);
}

.back img {
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 0%;
}

/* autres cartes */

.card-wrapper2 {
  position: absolute;
  z-index: 9;
  perspective: 2000px;
  perspective-origin: top;
  width: 41%;
  height: 33%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 0%;
  cursor: pointer;
}

.card-wrapper3 {
  position: absolute;
  z-index: 8;
  perspective: 2000px;
  perspective-origin: top;
  width: 41%;
  height: 33%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 0%;
  cursor: pointer;
}

.card-wrapper4 {
  position: absolute;
  z-index: 7;
  perspective: 2000px;
  perspective-origin: top;
  width: 41%;
  height: 33%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 0%;
  cursor: pointer;
}

.card-wrapper5 {
  position: absolute;
  z-index: 6;
  perspective: 2000px;
  perspective-origin: top;
  width: 41%;
  height: 33%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 0%;
  cursor: pointer;
}

.card-wrapper6 {
  position: absolute;
  z-index: 5;
  perspective: 2000px;
  perspective-origin: top;
  width: 41%;
  height: 33%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 0%;
  cursor: pointer;
}

.card-wrapper7 {
  position: absolute;
  z-index: 4;
  perspective: 2000px;
  perspective-origin: top;
  width: 41%;
  height: 33%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 0%;
  cursor: pointer;
}

.card-wrapper8 {
  position: absolute;
  z-index: 3;
  perspective: 2000px;
  perspective-origin: top;
  width: 41%;
  height: 33%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 0%;
  cursor: pointer;
}

.card-wrapper9 {
  position: absolute;
  z-index: 2;
  perspective: 2000px;
  perspective-origin: top;
  width: 41%;
  height: 33%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 0%;
  cursor: pointer;
}

.card-wrapper10 {
  position: absolute;
  z-index: 1;
  perspective: 2000px;
  perspective-origin: top;
  width: 41%;
  height: 33%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 0%;
  cursor: pointer;
}

/* animation remise a 0 des cartes  */


/* animatiom deplacement card-wrapper */
@-webkit-keyframes translate2 {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes translate2 {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/* animation rotation card */

@-webkit-keyframes rotate2 {
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@keyframes rotate2 {
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

